#notification
{
    position: absolute;
    z-index: 1;
    width:40vw;
    margin-left:30vw;
    margin-right:0vw;
}

#add_room_input
{   
    width:50vw;
}

#add_room_btn
{
    width:25vw;
    margin-top: 4px;
    margin-left:12.5vw;
}

#room_list button
{
    width:25vw;
    margin-top:4px;
    margin-left:12.5vw;
}

#main
{   
    margin-top:15vh;
    margin-left: 25vw;
    margin-right: 25vw;
    overflow-y: auto;
    overflow-x: hidden;
}

#chatroom
{
    display:none;
    margin:0 auto;
    width:75vw;
    
}

#p_chatroom
{
    display:none;
    margin:0 auto;
    width:75vw;
    
}

#text_part
{
    height:80vh;
    overflow-x:hidden;
    overflow-y:auto;
    margin-top:5px;
}

#p_text_part
{
    height:80vh;
    overflow-x:hidden;
    overflow-y:auto;
    margin-top:5px;
}

#text
{   
    margin:0;
    margin-top:5px;
    display:inline-block;
    width:37vw;
}

#p_text
{   
    margin:0;
    margin-top:5px;
    display:inline-block;
    width:74vw;
}

#invite
{   
    margin:0;
    margin-top:5px;
    display:inline-block;
    width:37vw;
}

.toast
{
    max-width:100vw !important;
}

@media screen and (max-width:654px)
{
    #main
    {
        margin-left:0;
        margin-right:0;
    }
    #add_room_input
    {   
        margin-left:0;
        width:100vw;
    }
    #add_room_btn
    {
        margin-left:0;
        width:100vw;
    }
    #room_list button
    {
        margin-left:0;
        width:100vw;
    }
    #chatroom
    {
        width:100vw;
    }
    #p_chatroom
    {
        width:100vw;
    }

    #p_text
    {
        width:50vw;
    }

    #text
    {
        width:50vw;
    }

    #invite
    {
        width:49vw;
    }
    #notification
    {
        max-width:75vw !important;
        width:75vw;
        margin-left:12.5vw;
        margin-right:0vw;
    
    }
}

@media screen and (max-width:436px)
{
    #text
    {
        width:100vw;
    }

    #invite
    {
        width:100vw;
    }
    #p_text
    {
        width:100vw;
    }
    #text_input
    {
        width:100vw;
    }
    #invite_input
    {
        width:100vw;
    }
}