#notification
{
    position: absolute;
    z-index: 1;
    width:40vw;
    margin-left:30vw;
    margin-right:0vw;
}

#username_input
{   
    display:none;
    width:50vw;
}

#email_input
{   
    display:inline-block;
    width:50vw;
}

#password_input
{   
    display: inline-block;
    width:50vw;
}

#input_group
{
    
    margin-left:25vw;
    margin-right:25vw;
}
#group
{   
    display:none;
    margin-top: 20vh;
}

#button_group
{
    margin-left:25vw;
    margin-right:25vw;
}

@media screen and (max-width:654px)
{
    #input_group
    {
        width:100vw;
        margin-left:0;
        margin-right:0;
    }
    #email_input
    {
        width:100vw;
    }
    #username_input
    {
        width:100vw;
    }
    #password_input
    {
        width:100vw;
    }
    #button_group
    {
        width:100vw;
        margin-left:0;
        margin-right:0;
    }
    #notification
    {
        max-width:75vw !important;
        width:75vw;
        margin-left:12.5vw;
        margin-right:0vw;
    }
}
